<app-mural-pricipal>
    <div class="container_int">
        <div class="campos ">
            <div class="logo">
                <app-back-button></app-back-button>
                <img class="imagen-card" alt="logo" src="assets/ti.png" />
                <h2>SUPORTE TI</h2>
            </div>
            <div>
                @if(titulo.includes("reset")){
                <div class="input-Top">
                    <app-alert aviso="Inclusão de acesso ao usuario GMcore"
                        saudacao="Para solicitacao de acesso ao usuario: Rotina, modulo coletor, Reset de senha, Configurar perfil, Mudança de filial,Add filial"
                        subtitulo="NOME COMPLETO, CPF ou USUARIO, FUNÇÃO,SETOR,FILIAL. Obs: Caso precise de linha de separação informar ou autorizar despesas informar as placas filias e centro de custo!"></app-alert>
                </div>}

                <div style="box-sizing: border-box;" class="input_container-int2">
                    <div class="input_container">
                        <div class="input_container">
                            <b class="ls-label-text">
                                <p>Em que podemos ajudar?</p>
                                <p style="margin-left: 5px;color: blue;" class="">{{user.getname()}}</p>
                            </b>
                            <select  (change)="eventClick($event)" style="height: 30px;" class="input-form"
                                appearance="outline">
                                <option value="">Selecione</option>
                                @for (item of list; track $index) {
                                
                                    <option [value]="item.name">
                                        {{item.name}}
                                    </option>
                                }
                            </select>

                        </div>
                        <b class="ls-label-text">
                            @if (tituloUsuario!==undefined) {
                            <div><p style="color: red;">{{tituloUsuario}}</p></div>
                            }
                        </b>
                    </div>
                </div>
                @if (filter1) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                }
                @if (filter2) {
                <app-reset [solicitacaoUsuario]="solicitacaoUsuario"></app-reset>

                }
                @if (filter3) {
                    <app-filter3 Alert="Informar os acessos dentro da rotina que deseja obter!" [solicitacaoUsuario]="solicitacaoUsuario"></app-filter3>
    
                    }
                @if (filter4) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                }
                @if (filter5) {
                <app-reset [solicitacaoUsuario]="solicitacaoUsuario"></app-reset>

                }
                @if (filter6) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                } @if (filter7) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                }
                @if (filter8) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                }
                @if (filter9) {
                <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>

                }
                @if (filter10) {
                    <app-filter3 Alert="Informar as filiais que deseja adicionar e a rotina" [solicitacaoUsuario]="solicitacaoUsuario"></app-filter3>
    
                    }
                    @if (filter11) {
                        <app-add [solicitacaoUsuario]="solicitacaoUsuario" (desbiled)="desabilitar()"></app-add>
        
                        }

            </div>
        </div>
    </div>
</app-mural-pricipal>