.container_templet {
  padding: 0 17px;

  .input_container-int2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input_container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: content-box;

      .button-exibir {
        color: blue;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;

      }

      .button-exibir:hover {
        color: rgb(169, 191, 209);
        text-decoration: underline;
      }



      .ls-label-text {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          cursor: pointer;
          margin: 0 10px;
        }

        a:hover {
          color: blue;
        }

        img {
          border-radius: 50%;
          margin: 0 10px;
        }
      }

      .input-form {
        height: 30px;
      }

      .txt {
        width: 100%;
        display: flex;
        flex-direction: column;

        border-radius: 2px;
        box-sizing: border-box;
        margin: 5px 0;

        .input_img {
          display: flex;
          padding: 2px;

          .img {
            width: 35px;
            border-radius: 50%;

            img {
              border-radius: 100%;
            }
          }

          .ed {
            width: 100%;
            .editor {
              width: 100%;
            }

           
              .drop{
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                height: 80px;
                border-radius: 2px;
                margin: 5px 0;

                .btn {
                  width: 30%;
                  margin: 5px 0;
                }

              

            }

          }


          .textArea {
            border: 1px solid #888;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            outline: 0;
            height: 30px;

            input {
              max-width: 800px;
              width: 100%;
              height: 100%;
              border: 0;
              margin: 0;
            }
          }
        }


        .tinymce-editor {

          margin-bottom: 0 !important;
        }

      }

      .textarea_input {
        border-radius: 5px;
        width: 30%;
        display: flex;
        align-items: center;
      }

      .comments-container {
        max-width: 100%;
        width: 100%;

        .comentarios {
          width: 100%;

          .itens {
            width: 100%;
            display: flex;
            padding: 5px 0;
            margin: 4px 0px;
            word-wrap: break-word;

            .commet-itens {
              .detalhes {
                overflow: auto;
                display: flex;
                flex-direction: column;
                font-size: 15px;
                color: #241e1e;
                max-width: 100%;
                word-wrap: break-word;

                small {

                  display: flex;
                  flex-direction: column;
                  max-width: 350px;
                  word-wrap: break-word;
                }

                .sty {
                  p {
                    color: blue;

                    img {
                      width: 30px;

                    }

                    element.style {
                      width: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

}

@media screen and (max-width:597px) {

  .container_templet {


    .input_container-int2 {


      .input_container {
        .txt {

          .editor {
            width: 80%;
          }

          .textArea {
            width: 80%;

            input {
              width: 100%;
              height: 100%;
              border: 0;
              margin: 0;
            }
          }


          .tinymce-editor {

            margin-bottom: 0 !important;
          }

        }
      }

      .comments-container {
        max-width: 400px;
        width: 100%;

        .comentarios {
          width: 100%;


          .itens {
            .commet-itens {
              .detalhes {
                width: 100%;

                .sty {
                  p {
                    color: blue;

                    img {
                      width: 30px;

                    }

                    element.style {
                      width: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }

}

@media screen and (max-width:502px) {

  .container_templet {
    margin: 0;
    padding: 0 30px;

    .input_container-int2 {


      .input_container {
        align-items: center;
        .txt {

          .editor {
            width: 60%;
          }

          .textArea {
            width: 60%;

            input {
              width: 100%;
              height: 100%;
              border: 0;
              margin: 0;
            }
          }

          .button {
            width: 70%;

            section {
              width: 70%;
              height: 60px;

              .drop {
                width: 80%;
                margin: 5px 0;
                height: 100px;
              }


            }

            .btn {
              width: 90%;
            }
          }

          .tinymce-editor {

            margin-bottom: 0 !important;
          }

        }
      }
    }
  }

}

.img_logo {
  display: flex;
}

@media screen and (max-width:460px) {
  .txt {
    .input_container {
      .txt {

        .editor {
          width: 60%;
        }

        .textArea {
          width: 60%;

          input {
            width: 70%;
          }
        }

        .button {
          width: 80%;

          section {
            width: 80%;

            .drop {
              width: 80%;
              margin: 5px 0;
              height: 100px;
            }


          }

          .btn {
            width: 60%;
          }
        }

        .tinymce-editor {

          margin-bottom: 0 !important;
        }

      }

    }

    .comments-container {
      max-width: 300px;
      width: 100%;

      .comentarios {
        width: 100%;

      }
    }

  }

}