<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<Section class="container_templet">
    <div class="input_container-int2">

        <div class="input_container">
            <b class="ls-label-text ">
                <p>comentários</p>
                <p class="risc">*</p>
            </b>
            <div class="comments-container">
                
                    <!-- <div class="button-exibir" (click)="exibirTodosComentarios()" tabindex="0" (keydown.enter)="exibirTodosComentarios()">Carregar comentarios</div> -->
                    <div class="input_container">
                        <div *ngIf="numComentariosExibidos">
                            <button class="btn" mat-button color="primary" (click)="exibirTodosComentarios()" tabindex="0" role="button">Exibir mais comentários</button>
                        </div>
                    </div>
                @if (cooments) {
                <div *ngFor="let commet of cooments.slice(comments.length - numComentariosExibidos)">
                    <div style="display: flex;border:0.2px dotted #4565;margin: 2px 0;padding: 2px px;">
                       @if (img) {
                        <img [src]="commet.userImagem" width="25px" height="25px"  style="border-radius: 50%;"
                        alt="">
                       }@else if(commet.userImagem===null || commet.userImagem===undefined) {
                        <img src="../../../../assets/user.png" width="25px" height="25px"  style="border-radius: 50%;" alt="">
                       }
                        <div style="display: flex;flex-direction: column;align-items:start;">
                            <div style="display: flex;">
                                <p style="margin: 0 5px;"><small>{{commet.usuario}}</small></p>
                                 <p style="margin: 0 5px;"><small>{{commet.data}}</small></p>
                            </div>
                            <div style="margin: 0 5px;margin-top: -0.5rem;">
                                <small class="sty" [innerHTML]="sanitize(commet.comments)"></small>
    
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="input_container">
            <form class="txt" #textAreaForm data-ls-module="form" [formGroup]="form">
                @if (exibiBotao) {

                <editor class="editor" formControlName="comment"
                    apiKey="2rptpuxtvy9rtscq2utfbgoipgbya6fcqg4sihje2y0m34hn" [init]="editorConfig"></editor>}@else {
                <input type="text" #textArea class="textArea" placeholder="comentarios (max 240  caracteres)" />
                }
                @if (exibiBotao) {
                    <div class="button">
                        <button class="btn" mat-raised-button color="primary" (click)="enviar()" tabindex="0"  (keydown.enter)="enviar()" role="button">Enviar</button>
                    </div>
                    }
            </form>
            
        </div>
    </div>
</Section>