<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section class="container_templet">
    <div class="input_container-int2">

        <div class="input_container">
            <b class="ls-label-text ">
                <p>Comentários</p>
                <p class="risc">*</p>
            </b>
            <div class="comments-container">

                <!-- <div class="button-exibir" (click)="exibirTodosComentarios()" tabindex="0" (keydown.enter)="exibirTodosComentarios()">Carregar comentarios</div> -->
                <div class="input_container">
                    <div *ngIf="numComentariosExibidos">
                        <button class="btn" mat-button color="primary" (click)="exibirTodosComentarios()" tabindex="0"
                            role="button">Exibir mais comentários</button>
                    </div>
                </div>
                @if (cooments) {
                <div class="comentarios"
                    *ngFor="let commet of cooments.slice(comments.length - numComentariosExibidos)" >
                    <div class="itens" style="display: flex;border:0.2px dotted #4565;padding:5px;">
                        @if (img!==null||img !==undefined) {
                        <img [src]="commet.userImagem" width="30px" height="30px" style="border-radius: 50%;" alt="Sua imagem">
                        }@else{
                        
                        <img src="../../../../assets/user.png" width="30px" height="30px" style="border-radius: 50%;"
                            alt="Imagem do usuario">
                        }
                        <div class="commet-itens" style="display: flex;flex-direction: column;align-items:start;">
                            <div style="display: flex;">
                                <p style="margin: 0 5px;"><small>{{commet.usuario}}</small></p>
                                <p style="margin: 0 5px;"><small>{{commet.data}}</small></p>
                            </div>
                            <div class="detalhes" style="margin:0px 5px; box-sizing: border-box;">
                                <small #name class="sty" [innerHTML]="sanitize(commet.comments)"></small>

                            </div>
                         
                            <div class="detalhes" style="margin:0 5px;box-sizing: border-box;">
                                <app-imagens [data]="commet.imagens"></app-imagens>
                            </div>
                           
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="input_container">
            <form class="txt" #textAreaForm data-ls-module="form" [formGroup]="form">
                @if (exibiBotao) {

                <editor class="editor" formControlName="comment"
                    apiKey="3jzq1lryv8xzge6v00cxxvahxmmfyk8ht5zkimraz8d38s67" [init]="editorConfig"></editor>
                    <!-- <p-editor formControlName="comment" #app/> -->
                    
                }@else {
                <div class="textArea">
                    <input type="text" #textArea  placeholder="Digitar comentarios aqui!" />
                </div>

            }
                @if (exibiBotao) {
                <div class="button">
                    <section>
                        <div class="drop">
                            <input #file type="file" accept="image/*" (change)="PegaImagens($event)" multiple title="Não jogue imagem na descricao, joguei aqui!">
                        </div>
                    </section>
                    <button class="btn" mat-raised-button color="primary" (click)="enviar()" tabindex="0"
                        (keydown.enter)="enviar()" role="button">Enviar</button>
                </div>
                }
            </form>

        </div>
    </div>
</section>