@if (loading) {
@for (i of foto; track $index) {
<div class="continer_int">
    <div class="logolink">
        <app-back-button></app-back-button>
        <h2>{{chamdoCard?.servico}}</h2>
    </div>

    <div class="campos ">
        <section class="container_templete ">

            <section id="formButton" class="container">
                <!--informações descriçao do usuario-->
                <app-descricao [i]="i" [ocultar]="ocultar" [contatos]="contatos" [chamado]="chamdoCard"></app-descricao>
            </section>
            <app-coments class="campo_comment" [chamadoId]="i.id" [contatoCliente]="telefoneOriginal"
                [servico]="chamdoCard.servico"></app-coments>

        </section>
        <app-dados-tecnicos (Pegartect)="pegart(i.id)" [done]="i.done" (Pegartect)="buscar()"
            [nomeUsuario]="i?.tecnico_responsavel" [disableAdmin]="true"
            [habilitaBotao]="i?.client_feito"></app-dados-tecnicos>
    </div>
</div>
}
}
@else {
<app-skeletonsdmn></app-skeletonsdmn>
}