<app-mural-pricipal>
    <div class="continer_int" *ngFor="let i of foto" >
        <div class="logolink">
            <app-back-button></app-back-button>
        </div>
        <div class="campos1 ">
            <div class="logo">
                <!-- <img class="imagen-card"
                    src="/home/elivandro/Downloads/uploadsCaptura de tela de 2023-06-12 19-51-30.png" /> -->
                <h2>{{auth.getname()}}</h2>
            </div>
        </div>
        <div class="campos ">
            <section class="container_templete ">
                <div class="Card">
                    <section id="formButton" class="container">
                        <div class="input">

                            <div class="ls-span">
                                <img class="imagen-card" alt="detalhe usuario" width="30" [height]="30" src="assets/ti.png" />
                                <b>Chamado criado por {{i.usuario}} em {{i.data}}</b>
                                <a (click)="ocults()" (keydown.enter)="ocults()" role="button" tabindex="0">{{titulo}}  detalhes</a>
                            </div>
                        </div>
                        
                        <div class="name" *ngIf="ocultar">
                            <div class="input-Top">
                                <small >{{i.issuetype}}</small>
                            </div>
                            <app-alert titulos="Informações do colaborador"></app-alert>

                            <div class="input-Top">
                                 <span class="inforDescricao">Setor</span>
                                <small>{{i.setor}}</small>
                            </div>
                            @if (i.issuetype.includes("Hardware")) {
                                <div class="input-Top">
                                    <span class="inforDescricao">Patrimonio</span>
                                    <small>{{i.patrimonio}}</small>
                                </div>
                                <div class="input-Top">
                                    
                                    <small>{{i.equipamento}}</small>
                                </div>
                            }
                            @else if (i.issuetype.includes("Sistema")) {
                                <div class="input-Top">
                                    <span class="inforDescricao">Sistema</span>
                                    <small>{{i.sistem_erro}}</small>
                                </div>
                                <div class="input-Top">
                                    <span class="inforDescricao">Erro</span>
                                    <small>{{i.erro}}</small>
                                </div>
                            }
                            <div class="input-Top">
                                <span class="inforDescricao">Nome completo</span>
                                <small>{{i.usuario}}</small>
                            </div>
                            <div class="input-Top">
                                <span >Descrição</span>
                                <small class="descricao-itens" [innerHTML]="sanitize(i.descricao)"></small>
                            </div>
                            <div class="input-Top">
                                <app-imagens [data]="i.imagens"></app-imagens>
                            </div>
                        </div>
                    </section>
                    <app-coments [chamadoId]="i.id"></app-coments>
                </div>
            </section>
            <app-dados-tecnicos [nomeUsuario]="i.tecnico_responsavel"[disableAdmin]="true"
                [habilitaBotao]="i.client_feito"></app-dados-tecnicos>
        </div>
    </div>
</app-mural-pricipal>