

@for (i of foto; track $index) {
@if (loading) {
    <app-mural-pricipal variant="primary">
        <div class="continer_int">
            <div class="logolink">
                <app-back-button></app-back-button>
                <h2>{{chamdoCard?.servico}}</h2>
            </div>
            <!-- <div class="campos1 ">
                <div class="logo">
                    <img class="imagen-card"
                        src="/home/elivandro/Downloads/uploadsCaptura de tela de 2023-06-12 19-51-30.png" />
                    <h2>{{chamdoCard.servico}}</h2>
                </div>
    
            </div> -->
            <div class="campos ">
                <section class="container_templete ">
                    <div class="Card">
                        <section id="formButton" class="container">
                            <!--informações descriçao do usuario-->
                            <app-descricao 
                            [i]="i" 
                            [ocultar]="ocultar"
                            [contatos]="contatos"
                            [chamado]="chamdoCard"
                            ></app-descricao>
                        </section>
                        <app-coments class="campo_comment" [chamadoId]="i.id" [contatoCliente]="telefoneOriginal"
                            [servico]="chamdoCard.servico"></app-coments>
                    </div>
                </section>
                <app-dados-tecnicos (Pegartect)="pegart(i.id)" [done]="i.done" (Pegartect)="buscar()"
                    [nomeUsuario]="i.tecnico_responsavel" [disableAdmin]="true"
                    [habilitaBotao]="i.client_feito"></app-dados-tecnicos>
            </div>
        </div>
    </app-mural-pricipal>
}
@else {
  <app-skeletonsdmn></app-skeletonsdmn>
}

}