.continer_int {
  padding: 0px 16px;
  box-sizing: border-box;

  .logolink {
    display: flex;
    align-items: center;
    gap: 5px;
    padding:2px 0px;
  }

  .campos1 {
    .logo {
      width: 100%;
      display: flex;
      align-items:start;
 
      .imagen-card {
        width: 50px;
        height: 50px;
        margin-top: 5px;
      }
    }
  }

  .campos {
    display: flex;
    .container_templete {
      width:90%;
      margin-bottom: 5rem;
      .Card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        .container {
          padding:1px;
          background-color:#597cb8;
          .input {
            width: 100%;
            margin-bottom:2px;
            

            a {
              cursor: pointer;
              width: 150px;
              color: blue;
              margin: 0 10px;
              font-size: 14px;
            }

            a:hover {
              text-decoration: underline;
            }

            img {
              border-radius: 50%;
              margin: 0 10px;
            }
          }


        }
      }

    }

    .input_container {
      display: flex;
      margin: 32px 0;
      flex-direction: column;

      .ls-label-text {
        height: 60px;
        display: flex;
        align-items: center;

        a {
          cursor: pointer;
          margin: 0 10px;
        }

        a:hover {
          color: blue;
        }

        img {
          border-radius: 50%;
          margin: 0 10px;
        }

        .risc {
          color: red;
        }
      }

      .input-form {
        height: 30px;
      }

      .txt {
        display: flex;
        border: 0;
        flex-direction: column;
        height: auto;

        .textarea_input {
          height: 200px;
          max-height: 450px;
          border-radius: 5px;
          outline: 0;
          resize: none;
          border-bottom: none;

          .input {
            height: 30px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgba(136, 136, 125, 0.267);
            outline-color: rgb(53, 36, 206);
            border: 1px #ff34;
          }
        }
      }
    }
  }

}

@media screen and (max-width:891px) {
  .campos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (max-width:634px) {
  .input {

    a {
      width: 100px;
      margin: 0 2px;
      font-size: 13px;

    }
  }

}

@media screen and (max-width:495px) {
  .input {
    width: 100%;

    a {
      width: 150px;
      margin: 0 30px;
      font-size: 14px;
    }

    img {
      border-radius: 50%;
      margin: 0 6px;
    }
  }

  .campo_comment {
    width: 300px;
  }

}