<!-- <div class="cod">
    <div class="banner">
        <app-login-bnnner></app-login-bnnner>
    </div> -->
    @if (validaCodigo) {
        <form class="painel-login" [formGroup]="form">
            <legend>Digite o codigo enviado ao E-mail</legend>
             <label  class="input-text">
              <div class="input-text">
                <div class="input-search">
                    <input matInput type="text" id="codigo" formControlName="codigo"  placeholder="Digite seu codigo..."/>
                    <button [disabled]="!form.valid"  (click)="enviar()" (keydown.enter)="enviar()" class="btn-login"  mat-button color="primary"><mat-icon>search</mat-icon></button>
                </div>
                 <mat-error *ngIf="form.get('codigo')?.errors?.['required']&&form.get('codigo')?.touched">Campo obrigatorio</mat-error>
              </div>
            </label >
        </form>
    }@else if (alteraSenha && !validaCodigo) {
     <app-esqueceu-senha></app-esqueceu-senha>
    }
<!-- </div> -->