<div class="alert">
    <b><small>
        add Card
    </small></b>
    <form class="img" [formGroup]="form" (submit)="hendleapi()">
            <div class="campo">
                <label for="">
                    <input #addCard type="text" formControlName="name" placeholder="digite o titulo">
                </label>
                <label for="">
                    <textarea  class="text-area" type="text" formControlName="titulo" placeholder="digite o subtitulo"></textarea>
                </label>
                <button mat-button  type="submit" >enviar</button>
            </div>
    </form>
</div>