<!-- <button mat-button [matMenuTriggerFor]="aboveMenu">Em desenvol</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
@if (user.includes("dev")||user.includes("suporte")) {
<button mat-button [matMenuTriggerFor]="belowMenu" class="btn">Admin</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
        <button (EventClick)="navigate()" mat-menu-item>
          <mat-icon>groups</mat-icon>
          <span>Roles</span>
        </button>
        <button mat-menu-item (EventClick)="navs()">
          <mat-icon>dialpad</mat-icon>
          <span>Itens</span>
        </button>
</mat-menu>
}
@if (user.includes("dev")|| user.includes("suporte")||user.includes("admin")) {
<button mat-button [matMenuTriggerFor]="beforeMenu">Chamados</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
   
        <button mat-menu-item (click)="chamadoUser()">
          <mat-icon>fact_check</mat-icon>
          <span>Seus atendimentos</span>
        </button>
        
        @if (user.includes("admin")||user.includes("dev")||user.includes("suporte")) {
          <button mat-menu-item routerLink="/lista/admin" style="display: flex;">
            <mat-icon ><img src="assets/solicitacao.png" width="25px" height="25px" alt=""></mat-icon>
            <span >Cards</span>
          </button>
        }
</mat-menu>
}


<button mat-button [matMenuTriggerFor]="afterMenu">Alterar senha</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/auth/alterar/senha">
        <mat-icon>lock_reset</mat-icon>
        <span>clique aqui</span>
      </button>
</mat-menu>