<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>settings</mat-icon>
</button>
<mat-menu #menu="matMenu">
  @if (user.includes("dev")||user.includes("suporte")) {
  <button (EventClick)="navigate()" mat-menu-item>
    <mat-icon>groups</mat-icon>
    <span>{{titulo_1}}</span>
  </button>
  <button mat-menu-item (EventClick)="navs()">
    <mat-icon>dialpad</mat-icon>
    <span>{{titulo_2}}</span>
  </button>
  }
  @if (user.includes("dev")|| user.includes("suporte")||user.includes("admin")) {
  <button mat-menu-item (click)="chamadoUser()">
    <mat-icon>fact_check</mat-icon>
    <span>Seus atendimentos</span>
  </button>
  }
  @if (user.includes("admin")||user.includes("dev")||user.includes("suporte")) {
    <button mat-menu-item routerLink="/lista/admin" style="display: flex;">
      <mat-icon ><img src="assets/solicitacao.png" width="25px" height="25px" alt=""></mat-icon>
      <span >Cards</span>
    </button>
  }
  <button mat-menu-item routerLink="/auth/alterar/senha">
    <mat-icon>lock_reset</mat-icon>
    <span>alterar senha</span>
  </button>
</mat-menu>