<app-mural-pricipal>
    <div class="continer_int" *ngFor="let i of foto">
        <div class="logolink">
            <app-back-button></app-back-button>
        </div>
        <div class="campos1 ">
            <div class="logo">
                <!-- <img class="imagen-card"
                    src="/home/elivandro/Downloads/uploadsCaptura de tela de 2023-06-12 19-51-30.png" /> -->
                <h2>{{i.titulo}}</h2>
            </div>
        </div>
        <div class="campos ">
            <section class="container_templete ">
                <div class="Card">
                    <section id="formButton" class="container">
                        <div class="input">

                            <div class="ls-span">
                                <img class="imagen-card" alt="imagem topo detalhes chamados" width="30" [height]="30" src="assets/pc.png" />
                                <b>Chamado criado por {{auth.getname()}} em {{i.data}}</b>
                                <a (click)="ocults()" (keydown.enter)="ocults()" role="button" tabindex="0">{{titulo}} detalhes</a>
                            </div>
                        </div>
                        <div class="name" *ngIf="ocultar" >
                            <app-alert titulos="Informações do colaborador"></app-alert>

                            <div class="data_top">
                                <div class="input-Top">
                                    <span class="inforDescricao">Suporte</span>
                                    <small >{{i.issuetype}}</small>
                                </div>
                                <div class="input-Top">
                                     <span class="inforDescricao">Setor</span>
                                    <small>{{i.setor}}</small>
                                </div>
                            </div>
                            <div class="data_top">
                               @if (i.issuetype.includes("Hardware")) {
                                <div class="input-Top">
                                    <span class="inforDescricao">Patrimonio</span>
                                    <small>{{i.patrimonio}}</small>
                                </div>
                                <div class="input-Top">
                                    <span class="inforDescricao">Equipamento</span>
                                    <small>{{i.equipamento}}</small>
                                </div>
                            }
                            </div>
                            <div class="data_top">
                                @if (i.issuetype.includes("Sistema")) {
                                    <div class="input-Top">
                                        <span class="inforDescricao">Sistema</span>
                                        <small>{{i.sistem_erro}}</small>
                                    </div>
                                    <div class="input-Top">
                                        <span class="inforDescricao">Erro</span>
                                        <small>{{i.erro}}</small>
                                    </div>
                                }
                            </div>
                            <div class="data_top">
                                <div class="input-Top">
                                    <span class="inforDescricao">Nome completo</span>
                                    <small>{{i.usuario}}</small>
                                </div>
                                <div class="input-Top">
                                    <span class="inforDescricao">Solicitação</span>
                                    <small>{{i.solicitacao}}</small>
                                   
                               </div>
                            </div>
                            <div class="data_top2">
                                <div class="input-Top">
                                    <span class="inforDescricao">Descrição</span>
                                    <small class="descricao-itens" [innerHTML]="sanitize(i.descricao)"></small>
                                </div>
                                <div class="input-Top">
                                    <app-imagens [data]="i.imagens"></app-imagens>
                                </div>
                            </div>
                            
                        </div>
                    </section>
                    <app-coments class="campo_comment" [chamadoId]="i.id"></app-coments>
                </div>
            </section>
                <app-dados-tecnicos  [id]="ids" [ChamdoId]="i.chamadoid"  [nomeUsuario]="i.tecnico_responsavel" [Perfil]="false" [disable]="i.aceito" [disableAdmin]="false"></app-dados-tecnicos>
        </div>
    </div>
</app-mural-pricipal>

