<Section class="container_templet">
<div class="input_container-int2">

    <div class="input_container">
        <b class="ls-label-text">
            <p>tipo de equipamento</p>
            <p class="risc">*</p>
        </b>
    </div>
    <div class="input_container textarea">
        <label class="txt ls-label">
            <b class="ls-label-text">
                <p>Descrição</p>
                <p class="risc">*</p>
            </b>
            <textarea ows="1" class="textarea_input ls-textarea-autoresize"></textarea>
        </label>
    </div>
    <div class="button">
        <button class="button" mat-raised-button color="primary">Enviar</button>
    </div>
</div>
</Section>