:host{
    display: block;
    width:100%;
    margin: auto;
  }
  .mural{
    max-width:100%;
    width:90%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

  .template{
      &.primary{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        background-color:white;
        box-sizing: border-box;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        border-radius: 2px;
        }
        &.secundary{
            width:90%;
            display: flex;
            flex-direction: column;
            background-color:white;
            box-sizing: border-box;
            box-shadow: 0px 1px 1px 0px;
            border-radius: 2px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1)

        }
        &.list{
          width: 100%;
          height:calc(100vh - 100px);
          display: flex;
          flex-direction: column;  
          padding: 10px 0;

      }
      &.compras{
        width:80%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;  
        align-items: center;
        background-color:white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1)


    } &.campos{
      width:72%;
      margin-top: 2rem;
      padding: 0 15px;
      background-color:white;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1)
  }
      &.auth{
        width: 90%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1)
    }
    &.home{
      width:100%;
      display: flex;
      flex-direction: column;
      margin-top: 2px;
      max-height:880px;
      height:84vh;   
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
           }
    }
}

@media screen and (max-width:520px){
 
  .mural{
    max-width:520px;
    padding: 0 5px;
    .template{
      &.primary{
        width: 90%;
        }
        &.secundary{
            width: 100%;
        }
        &.campos{
          width:100%;
      }
        
    }
}
  
}
