:host{
    display: block;
    margin: 10px auto;
    max-width: 1248px;
    width:100%;
    
  }
  .mural{
    max-width:100%;
    width:80%;
    margin: auto;
    margin-top: -24.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  .template{
      &.primary{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        background-color:white;
        box-sizing: border-box;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        box-shadow: 0px 2px 2px 0px;
        padding: 10px 0;
        border-radius: 2px;
        }
        &.secundary{
            width:100%;
            display: flex;
            flex-direction: column;
            background-color:white;
            box-sizing: border-box;
            box-shadow: 0px 1px 1px 0px;
            border-radius: 2px;

        }
        &.list{
          width: 100%;
          display: flex;
          flex-direction: column;  
          box-sizing: border-box;
          padding: 10px 0;


      }
      &.auth{
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    &.home{
      width: 100%;
      display: flex;
      margin-top:5rem;
      flex-direction: column;
      max-height:880px;
      height:90vh;     
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
     
      padding: 10px 0;
      }
    }
}

@media screen and (max-width:520px){
 
  .mural{
    max-width:520px;
    width:100%;
    padding: 0 10px;
    .template{
      &.primary{
        width: 90%;
        }
        &.secundary{
            width: 100%;
            height:200vh;
        }
        
    }
}
  
}
