@keyframes rotateY {
    from {
        transform: rotateY(0deg);
        /* Inicia na posição normal */
    }

    to {
        transform: rotateY(360deg);
        /* Gira completamente */
    }
}

.login {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    .banner {
        background: linear-gradient(135deg, #1C1C1C, #2E2E2E);
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -5px 0px 20px rgba(0, 0, 0, 0.3);
        /* Sombra mais forte e difusa */
        flex-direction: column;


        img {
            width: 326px;
            height: 426;
        }

        h1 {
            font-size: 2rem;
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            margin-top: 20px;
            letter-spacing: 1px;
            animation: rotateY 15s linear infinite;

        }
    }

    .painel {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        flex: 1;
        padding: 0 20px;
        h1 {
            font-size: 1.5rem;
            color: #FFFFFF;
            text-align: center;
            font-weight: bold;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            margin-top: 1rem;
            letter-spacing: 1px;
            margin-left: 1rem;
            display: none;

        }
        h2{
            font-weight: normal;
            color: #242323;
        }
       


        .painel-login {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            padding: 10 5px;
            .container_field {
                height: 60px;
                width: 100%;
                margin-bottom: 10px;
                
                .login_int {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 50px;
                    border: 1px solid #cdced1;
                    border-radius: 5px;
                    padding: 0;
                    /* Remove o padding padrão */

                    legend {
                        /* Cor da legenda */
                        font-weight: bold;
                        /* Texto em negrito */
                        margin-left: 5px;

                    }

                    input {
                        height: 28px;
                        margin: 0 5px;
                        outline: none;
                        border: 0;
                    }

                    label {
                        font-size: 14px;
                        font-family: sans-serif;
                        color: #d3d1d1;
                    }

                }
                .borda{
                    border: 2px solid  #f54141;
                    z-index: 9999;
                    legend{
                        color: #f86464;
                    }
                }
            }

            .pass {

                display: flex;
                border-radius: 2px;

                input {
                    width: 100%;
                    border: 0;
                }

                .eg {
                    margin: 0 2px;
                }
            }
        }

        .btn-password {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 0;
            gap: 10px;

            a {
                font-size: 14px;
                font-family: sans-serif;
                color: rgb(128, 175, 247);
                cursor: pointer;
            }

            a:hover {
                color: rgb(180, 166, 166);
                text-decoration: underline;
                text-decoration-color: rgb(180, 166, 166);
            }
        }

        .btn-login-button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #e7eff7;
            border-radius: 3px;
            gap: 5px;

            .btn-login {
                width: 300px;

            }

            .btn-login-registrar {
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                p {
                    color: #d3d1d1;
                    font-size: 14px;
                }

                a {
                    font-size: 12px;
                    text-decoration: underline;
                    cursor: pointer;
                    color: blue;
                }

                a:hover {
                    color: rgb(153, 153, 172);
                }
            }


        }
    }
}

@media screen and (max-width:690px) {
    .login {
        .banner {
            img {
                width: 226px;
                height: 326px;
            }

            h1 {
                font-size: 1rem;
                margin-left: 25px;
            }

        }

        .painel {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


        }
    }

}

@media screen and (max-width:665px) {
    .login {
        .banner {
            display: none;
        }
        .painel {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(135deg, #1C1C1C, #2E2E2E);
            h1{
                display: block;
            }
            h2{
                color: #fffefe;
            }
           .painel-login{
            .container_field {
                .login_int {
                    background-color: #FFF;
                    border: 1px solid #a58181;
                }
                legend{
                    color: #9b9bb8;
                }
            }
           }


        }
    }


}


@media screen and (max-width:360px) {
    .login {
               .painel {
            .painel-login {
                width: 85%;
                padding: 0 25px;
                .container_field {
                    margin: 0 5px;
                   

                }

            }


        }

        .btn-login-button {
            width:100%;

            .btn-login {

                width: 100%;

            }

            .btn-login-registrar {
                p {
                    font-size: 12px;
                }

                a {
                    font-size: 10px;
                }
            }


        }

    }
}

.mensagem-erro {
    font-size: 10px;
    color: #f54141;
}
