.aviso{
    display: flex;
    align-items:center;
    width:80%;
    background-color: rgba(174, 192, 252, 0.5);
    margin:2px 0px;
    padding:2px 0px;
    margin-top:15px;
    border-radius: 2px;
}