<app-mural variant="primary">
    <div class="container-principal">
        <header class="painel-logo">
            <div class="btn">
                <app-back-button></app-back-button>
                <span>Adicionar itens</span>
            </div>
            <div class="btn-right">
                <small>adicionar setor</small>
                <button (EventClick)="addSetor()" mat-button color="secundary" class="btn-container">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </header>
        <section class="painel">
            <form [formGroup]="form" class="form" (ngSubmit)="buscar()">
                <label for="">
                    <div class="campo">
                        <input #roleBusca type="search" formControlName="name" />
                    </div>
                </label>
            </form>
            <main class="painel-login">
                <div *ngIf="detalheUser,else erro">
                    <div class="cards">
                        <mat-form-field>
                            <input matInput type="text" value="{{detalheUser.name}}" disabled />
                        </mat-form-field>
                        <button (click)="Edit()" mat-raised-button color="primary"><mat-icon>add</mat-icon>
                            <small>card</small></button>

                    </div>
                    <div *ngFor="let itens of detalheUser.options">
                        <div>{{itens.name}} {{itens.id}}</div>
                        <button (click)="delete(itens.id)" mat-raised-button
                            color="primary"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>
            </main>
        </section>
    </div>
</app-mural>
<ng-template #erro>nada encontrado...</ng-template>