<app-mural variant="primary">
    <div class="painel">
        <div class="container-int">
            <app-back-button></app-back-button>
            <legend>Pefil de usuário</legend>
            <div class="menu_p">
                <app-menuDrop (nav)="navigate()" (navi)="nav()"></app-menuDrop>
            </div>
            <div class="menu_drop">
                <app-menu titulo_1="adicionar role" titulo_2="add botões" (nav)="navigate()" (navi)="nav()"></app-menu>
            </div>
        </div>
        <section class="painel-login" *ngIf="detalheUser">
            <div class="label_logo">
                <div class="foto_perfil" (mousemove)="hendleImg()" #perfil (mouseleave)="hendleIm()">
                    @if (img) {
                    <div class="foto_perfil_camera" (EventClick)="pegarbotao()">
                        <img class="foto_camera" alt="Perfil" src="../../../assets/camera.png" />
                    </div>
                    }
                    @else {
                    @if (detalheUser.imagem!==null || detalheUser.imagem!==undefined) {
                    <img class="foto_perfil_principal" alt="Perfil" src="{{detalheUser.imagem}}" />
                    }@else {
                    <img class="foto_perfil_principal" alt="perfil" src="../../../assets/user.png" />

                    }
                    }
                </div>
                <div class="update">
                    <button mat-button color="primary" (click)="update()"><mat-icon>edit</mat-icon></button>
                </div>
            </div>
            <div class="form">
            <form class="dados_usuario">
                <label for="contatp">Nome</label>
                <input value="{{detalheUser.name}}" type="text" formControlName="name" placeholder="nome..." name="" id="">
                <label for="contatp">Sobrenome</label>
                <input type="text" value="{{detalheUser.lastname}}" name="" id="">
                <label for="contatp">Setor</label>
                <input type="tel" value="{{detalheUser.setor}}"  name="" id="">
                <label for="contatp">Filial</label>
                <input type="tel" value="{{detalheUser.filial}}"   name="" id="">
                <label for="contatp">Contato</label>
                <input type="tel" value="{{detalheUser.contato}}"  name="" id="">
            </form>
            </div>
        </section>
    </div>
</app-mural>