.container_int {
   display: flex;
  box-sizing: content-box;
  flex-direction: column;
      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-top:5px;
        h2{
          color: rgb(57, 57, 65);
        }
  
        .imagen-card {
          width: 50px;
          height: 50px;
          margin-top: 5px;
        }
      }
  
      .input_container {
        display: flex;
        margin:10px 0;
        flex-direction: column;
        .txt {
          display: flex;
          border: 0;
          flex-direction: column;
          height: auto;
  
          .textarea_input {
            width: 100%;
            min-height: 50%;
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            resize: none;
            outline: 0;
            box-sizing: border-box;
  
          }
        }
      }
  
      .input_container-img {
        display: flex;
        margin:26px 0;
        flex-direction: column;
  
        .anexo {
          background-color: rgb(211, 243, 243);
          padding: 56px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          .button-name {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
  
      .input_container-int {
        display: flex;
        flex-direction: row;
        margin:26px 0;
        gap: 40px;
        .input-Top {
          width: 50%;
          display: flex;
          flex-direction: column;
  
          .input-form {
            display: flex;
            justify-content: center;
            height:36px;
            border: 1px solid #888;
            flex-direction: column;
            border-radius: 2px;
            legend{
              color: #726666;
              font-size: 14px;
            }
            .input {
              height:22px;
              outline: none;
              border: 0;
            }
          }
        }
  
        .input-Top2 {
          width: 50%;
          display: flex;
          flex-direction: column;
  
        }
  
      }
  
      .input_container-int2 {
        display: flex;
        flex-direction: column;
        margin:20px 0;
  
        .editor {
          outline: none;
        }
  
        .button {
          width: 180px;
          margin-top: 5px;
        }
  
        .input-Top {
          display: flex;
          flex-direction: column;
  
          .input-form {
            display: flex;
            height:36px;
            border: 1px solid #888;
            justify-content: center;
            flex-direction: column;
            border-radius: 2px;
            border-radius: 2px;
            legend{
              color: #726666;
              font-size: 14px;
            }
            .input {
              height:25px;
              outline: none;
              border: 0;
      
            }
          }
          
        }
  
  
      }
    
  }

  @media screen and (max-width:755px) {
    .container_int {
      height: 100%;
      padding: 0 56px;
  
      .campos {
        .logo {
          width:100%;
          .imagen-card {
            width: 30px;
            height: 30px;
            margin-top: 5px;
          }
          h2{
            font-size: 16px;
          }
        }
        .input_container {
          margin:15px 0;
        }
        .input_container-int {
          flex-direction: column;
          .input-Top {
            width: 100%;
            display: flex;
        .ls-label-text {
          display: flex;
          .risc {
            color: red;
          }
        }
          }
        }
      }
    }
  
  }
  
  .ls-label-text {
    display: flex;
  
    .risc {
      color: red;
    }
  }