.container_int {
    height: 100%;
    padding: 0 56px;
    background-color: aliceblue;
  
    .campos {
      .logo {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 9px;
        margin-top:5px;
  
        .imagen-card {
          width: 50px;
          height: 50px;
          margin-top: 5px;
        }
      }
  
      .input_container {
        display: flex;
        margin: 20px 0;
        flex-direction: column;
  
        .ls-label-text {
          display: flex;
  
          .risc {
            color: red;
          }
        }
  
  
        .input-form {
          height: 20px;
        }
  
        .txt {
          display: flex;
          border: 0;
          flex-direction: column;
          height: auto;
  
          .textarea_input {
            width: 100%;
            min-height: 50%;
            border-radius: 5px;
            padding: 10px;
            overflow: hidden;
            resize: none;
            outline: 0;
            box-sizing: border-box;
  
          }
        }
      }
  
      .input_container-img {
        display: flex;
        margin: 32px 0;
        flex-direction: column;
  
        .anexo {
          background-color: rgb(211, 243, 243);
          padding: 56px 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          .button-name {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
  
      .input_container-int {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin:46px 0;
        gap: 40px;
  
        .input {
          height: 20px;
          width: 100%;
          border-radius: 5px;
          border: 1px solid rgba(136, 136, 125, 0.267);
          outline-color: rgb(53, 36, 206);
          border: 1px #ff34;
        }
  
        .input-Top {
          width: 50%;
          display: flex;
          flex-direction: column;
  
          .input-form {
            height: 20px;
          }
        }
  
        .input-Top2 {
          width: 50%;
          display: flex;
          flex-direction: column;
  
        }
  
      }
  
      .input_container-int2 {
        display: flex;
        flex-direction: column;
        margin:47px 0;
  
        .container-int {
          margin: 40px 0;
        }
  
        .editor {
          outline: none;
        }
  
        .button {
          width: 180px;
          margin-top: 5px;
        }
  
        .input {
          height: 20px;
          width: 100%;
          border-radius: 5px;
          border: 1px solid rgba(136, 136, 125, 0.267);
          outline-color: rgb(53, 36, 206);
          border: 1px #ff34;
        }
  
        .input-Top {
          width: 100%;
          display: flex;
          flex-direction: column;
  
          .input-form {
            height: 20px;
          }
          
        }
  
  
      }
    }
  
  }
  
  @media screen and (max-width:755px) {
    .container_int {
      height: 100%;
      padding: 0 56px;
  
      .campos {
        .logo {
          width:100%;
          .imagen-card {
            width: 30px;
            height: 30px;
            margin-top: 5px;
          }
          h2{
            font-size: 16px;
          }
        }
        .input_container {
          margin:15px 0;
        }
        .input_container-int {
          flex-direction: column;
          .input-Top {
            width: 100%;
            display: flex;
        .ls-label-text {
          display: flex;
          .risc {
            color: red;
          }
        }
          }
        }
      }
    }
  
  }
  
  .ls-label-text {
    display: flex;
  
    .risc {
      color: red;
    }
  }