<div class="alert">
    <header class="relatorio">
       <section class="container_select">
        <select style="height: 30px;" (change)="HendlePdf($event)">
            <option value="seleciona">Selecione</option>
            <option value="pdf">PDF</option>
            <option value="csv">CSV</option>
        </select>
       </section>
       <button (click)="print()">Impimir</button>
    </header>
    <section   #el style="height: 500px;">
        <div style="display: flex;align-items: center;justify-content: center;">
            <h2>Relatorio de chamados</h2>
            <span style="margin: 0 15px;">Total de chamados {{data.totalItens}}</span>

        </div>
       
        <div class="mat-elevation-z8" style="display: flex; margin-bottom: 25px;" *ngIf="data.total>0,else spiner">
            <table style="margin: 10px 1px;box-sizing:border-box;" class="custom-table ">
                <thead>
                    <tr>
                        @for (item of displayedColumns; track $index) {
                            <th   style="text-align: start;font-size: 12px;font-weight:600;color: var(--ds-text-subtlest, var(--local-dynamic-table-text-color))">{{item}}</th>

                        }
                    </tr>
                </thead>
                <tbody style="margin-bottom: 5px;">
                    @for (item of data.informacoes; track $index) {
                        <tr style="text-align: start;color: var(--ds-text-subtle, #484d55);border: 1px solid #888;" class="data"  *ngFor="let ite of item.itens" >
                            <td style="width:50px;height:20px;font-size:7px;">{{ite.cardId}}</td>
                            <td style="width:50px;font-size:7px;">{{convertUpper(ite.issuetype)}}</td>
                            <td style="width:100px;font-size:7px;">{{ite.status.replace('_'," ")}}</td>
                            <td style="width:80px;font-size:7px;" >{{convertUpper(ite.setor)}}</td>
                            <td style="width:80px;font-size:7px;">{{convertUpper(ite.usuario)}}</td>
                            <td style="width:100px;font-size:7px;">{{ite.data}}</td>
                            <td style="width:80px;font-size: 7px;">{{convertUpper(ite.tecnico_responsavel)}}</td>                      
                        </tr>
                      
                    }
                </tbody>
              
            </table>       
        </div>
    
       
    </section>
</div>

<ng-template #spiner class="lista-chamado">
    @defer (on viewport) {
    <p>Carregando dados...</p>
    } @placeholder {
    <p>aguarde...</p>
    }@loading (minimum 2s) {
    <app-loading></app-loading>
    }
</ng-template>