.alert{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .custom-table {
        width: 100%;
        border-collapse: collapse;
        .custom-table th {
            background-color: #f2f2f2; /* Cor de fundo personalizada para o cabeçalho */
            color: #333; /* Cor do texto do cabeçalho */
          }
      }
    .relatorio{
        display: flex;
        justify-content: space-between;
        padding: 0 2px;
        margin-top:5px;
        .container_select{
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
       }
    
    main{
        display: flex;
        padding: 0 20px;
        flex-direction: column;
       
        box-sizing: border-box;
        .mat-elevation-z8{
            width:100%;
            box-sizing: border-box;
        }
    }

}
tbody{
    tr{
        border: 1px solid #140d0d;
    }
}
