<section class="container">
    <div class="container-int">
        <div>
            <button mat-button (click)="closeButton()"><mat-icon>arrow_back</mat-icon> volta</button>
        </div>
        
         <div class="container-input">
           
                <form class="camp" action=""[formGroup]="form" (EventClick)="searchs()">
                <mat-icon style="width:30px;">search</mat-icon>
                
                    <input placeholder="search..." type="search" formControlName="search" #campoBuscaElement/>
                </form>
            
         </div>
       
    </div>
    @if (data) {
        <div class="container-body" >
       
            <div class="body-search" >
                @for (item of data; track $index) {
                    @for (items of item.options; track $index) {
                        <app-itens   [titulo]="items.name"  (navigate)="router(items.id,items.name,$index,item.name)"  [subTitulo]="items.titulo"></app-itens>
    
                    }
                        <!-- <app-my-buttons rotas="/itens/{{item.id}}" src="{{item.imagem}}" title="{{item.name}}" subtitle="{{item.titulo}}"></app-my-buttons> -->
                    
                }
            </div>
           
        </div>
    }
</section>
