<app-mural-pricipal variant="home">
    <main class="main">
        <!-- <div class="alert">
            <app-alert aviso="Para abertura de chamado  Suporte TI
            " titulo=" Prezado(a) Colaborador(a),
        
            Para garantir um atendimento rápido e eficiente às suas solicitações de suporte de TI, por favor, siga as orientações abaixo ao abrir um chamado:" [username]="Auth.getname()" subtitulo="
            Descreva detalhadamente o problema ou a solicitação.
            Informe a data e hora em que o problema ocorreu pela primeira vez.
            Caso aplicável, mencione se o problema já aconteceu antes e como foi resolvido.
            Impacto:
            
            Informe se o problema está impedindo seu trabalho ou o de sua equipe.
            Descreva o impacto sobre suas atividades diárias.
            Captura de Tela:
            
            Se possível, anexe capturas de tela ou fotos do erro ou problema encontrado.
            Inclua mensagens de erro ou alertas exibidos pelo sistema.
            Equipamento/Software:
            
            Especifique o equipamento (PC, laptop, impressora, etc.) e o software envolvidos.
            Informe a versão do software ou sistema operacional em uso.
            Passos para Reproduzir o Problema:
            
            Descreva os passos necessários para reproduzir o problema, se possível.
            Detalhe qualquer ação que tenha sido tomada antes do problema ocorrer.
            Como Abrir um Chamado:" saudacao="Seja bem-vindo(a)" body=" 
            Nosso time de suporte se compromete a responder aos chamados conforme a prioridade do problema"></app-alert>
        </div> -->
            <app-cards-button></app-cards-button>
            
        </main>
        
</app-mural-pricipal>
