<div class="input_container-int2">
    <div class="logo">
        <b>Status</b>
         @if (statusAtualizado) {
            <p >{{statusAtualizado}}</p>
         }@else{
            <p >{{status}}</p>
         }
     </div>
   <div class="container"  *ngIf="disable">
        <div class="logo">
            <b>validar</b>
            <p>chamado para informatica</p>
        </div>
        <div class="button">
            <button (click)="atualizarstatusFechado()" mat-raised-button color="primary" >Aprovar</button>
            <button (click)="ReabrirChamado()" style="margin:5px 0;" mat-raised-button color="secundary" >Recusar</button>
        </div>
     
   </div>
   <div class="container"  *ngIf="disableAdmin">
        <div class="logo">
            <b>atulizar Status</b>
            <p>chamado para informatica</p>
        </div>
        <div class="button">
            <button [disabled]="habilitaBotao" (click)="atualizarstatus()" mat-raised-button color="primary" >Agurdando Cliente</button>
            <button [disabled]="habilitaBotao" (click)="ReabrirChamado()" mat-raised-button color="primary" >Reabrir</button>
            <button [disabled]="habilitaBotao" (click)="atualizarstatusFechado() " style="margin:5px 0;" mat-raised-button color="secundary" >Fechar</button>
            <button  (click)="atu() " style="margin:5px 0;" mat-raised-button color="secundary" >dialog</button>
        </div>
 
</div>
   
   <div class="solicitacao">
    <b>tipo de pedido</b>
    <p>chamado para informatica</p>
    </div>
    <div class="solicitacao">
        <b><h3>Tecnico Responsavel</h3></b>
        <p>{{Data}}</p>
        </div>
</div>