<div class="hover">
   
        <div class="example-card">
            <div class="loading">
              <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            </div>
            @if (ativo) {
              @defer (on viewport) {
                <small class="example-h2">Validando usuario...</small>
              }@placeholder {
                <small class="example-h2">Aguarde um momento...</small>
              }@loading(minimum 2s) {
                <small class="example-h2">Carregando...</small>
              }
            }@else {
              <small class="example-h2">Carregando...</small>
            }
        </div>
</div>