.container{
  .logolink {
    padding:6px 0px;
  }

  .input {
    width: 100%;
    margin-bottom: 5px;


    .ls-span{
      display: flex;
      align-items: center;
      padding: 0px 5px;
      .banner_logo{
        display: flex;
        align-items: center;
        gap:4px;
        span{
          font-size: 13px;
          b{
            color: red;
            font-size: 14px;
          }
        }
        small{
          font-size:9px;
          color: #b8b5d3;
        }
      }
    }

    a {
      cursor: pointer;
      width: 150px;
      color: rgb(117, 117, 223);
      margin: 0 10px;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }

    img {
      border-radius: 50%;
      margin: 0 10px;
    }
  }

   .name {
      border: 0.2px solid #b3abf5;
      border-radius: 2px;
      background-color: rgb(244, 248, 248);
      padding: 2px 12px;
      max-width: 800px;
      overflow: hidden;

      .data_top {
        display: flex;

        .input-Top {
          width: 100%;
          display: flex;
          flex-direction: column;
          .inforDescricao {
            color: var(--ds-text-subtle, #0d3a88);
            font-family: sans-serif;
            font-size: 12px;
            font-weight: 600;
            margin: 6px 0;
          }

          p {
            img {
              width: 150px;
            }
          }

          small {
            color: var(--ds-text-subtle, #6B778C);

            p {
              img {
                width: 150px;
              }
            }
          }

          

          .ls-label-text {
            height: 60px;
            display: flex;
            align-items: center;

            a {
              cursor: pointer;
              margin: 0 10px;
            }

            a:hover {
              color: blue;
            }

            img {
              border-radius: 50%;
              margin: 0 10px;
            }
          }

          .risc {
            color: red;
          }

          .input-form {
            height: 30px;
          }
        }
      }

      .data_top2 {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        .input-descricao {
          width: 100%;
          display: flex;
          flex-direction: column;

          .inforDescricao {
            color: var(--ds-text-subtle, #0d3a88);
            font-family: sans-serif;
            font-weight: 600;
            font-size: 12px;
            margin: 5px 0;
          }

          .input-Top {
            color: var(--ds-text-subtle, #6B778C);
            font-size: 12px;
          }
          .descricao-itens img{
            max-width: 100%; /* ou o valor que desejar */
            height: auto;
          }
          .ls-label-text {
            height: 60px;
            display: flex;
            align-items: center;

            a {
              cursor: pointer;
              margin: 0 10px;
            }

            a:hover {
              color: blue;
            }

            img {
              border-radius: 50%;
              margin: 0 10px;
            }
          }

          .input-form {
            height: 30px;
          }
        }
      }
    }
  }