<section>
    <figure  class="figure">
        <div  class="slide_area">
            <input type="radio" #radio1 name="radio1" id="radio1" checked>
            <input type="radio" #radio2 name="radio1" id="radio2">
            <div #slide class="slide first">
                <div class="slide_text">
                    <h1>suporte ti</h1>
                    <h4>
                        Agile Service, oferecemos suporte técnico ágil e eficiente para atender todos setores.
                    </h4>
                    <p>
                        Nossa equipe especializada está disponível 24/6 para resolver problemas rapidamente, garantindo
                        que sua operação nunca pare.
                    </p>
                </div>
            </div>
            <div #slide class="slide area2">
                <div class="slide_text">
                    <h1>Semana da Tecnologia</h1>
                    <h4>
                        Na Semana da Tecnologia, celebramos a inovação, a criatividade e o talento dos profissionais que transformam o futuro com suas ideias e soluções.
                    </h4>
                </div>
            </div>
            <div class="slide_checked">
                <div class="checked1"></div>
                <div class="checked2"></div>
            </div>
        </div>
        <div class="slide_radio ">
            <label for="radio1" class="radio_name1"></label>
            <label for="radio2" class="radio_name1"></label>
        </div>
    </figure>
</section>