.footer{
  width: 100%;
    .titule{
        display: flex;
    align-items: center;
    justify-content: center;
       background:linear-gradient(360deg,#241f23,rgb(255, 254, 254));
       font-family:Georgia, 'Times New Roman', Times, serif;
    }
}