.footer {
  width: 100%;
  .titule {
    display: flex;
    font-size: small;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    gap:4px;
    span{
      color:var(--ds-surface, #FFFFFF) ;
    }
  }
}