<form [formGroup]="myForm">
    <div class="input_container-int">
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>Nome completo</legend>
                <input class="input" type="text" formControlName="usuario" matInput required
                    #usuario (keydown.enter)="enter(setors)">
            </fieldset>
            <div class="erro" *ngIf="myForm.get('usuario')?.errors?.['required']&&myForm.get('usuario')?.touched">Campo
                obrigatorio</div>
        </div>
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>Setor</legend>
                <input class="input" type="text" aria-label="Setor" id="setor" formControlName="setor" #setors
                    (keydown.enter)="enter(gm)" matInput  [matAutocomplete]="auto">
                <mat-autocomplete class="auto" #auto="matAutocomplete">
                    @for (item of filteredOptions|async ; track item) {
                    <mat-option [value]="item.name.toUpperCase()">{{item.name}}</mat-option>

                    }
                </mat-autocomplete>
            </fieldset>
            <div class="erro" *ngIf="myForm.get('setor')?.errors?.['required']&&myForm.get('setor')?.touched">Informe
                o setor</div>

        </div>

    </div>
    <div class="input_container-int">
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>Mateus ID</legend>
                <input class="input" type="text" formControlName="gmid" placeholder="GM0000" matInput #gm
                    (keydown.enter)="enter(cpf)">
            </fieldset>
            <div class="erro" *ngIf="myForm.get('gmid')?.errors?.['required']&&myForm.get('gmid')?.touched">Campo
                obrigatorio</div>
        </div>
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>CPF</legend>
                <input (keypress)="formatPhone($event)" (keydown)="formatPhone($event)" class="input" type="text"
                    aria-label="Cpf" id="cpf" formControlName="cpf" #cpf (keydown.enter)="enter(filial)" matInput
                    placeholder="Adicione o CPF...">
            </fieldset>
            <div class="erro" *ngIf="myForm.get('cpf')?.errors?.['required']&&myForm.get('cpf')?.touched">Informe
                o setor</div>
        </div>
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>Filial</legend>
                <input class="input" [matAutocomplete]="autoEq" type="text" formControlName="filial"
                 #filial (keydown.enter)="enter(funcao)" maxlength="3" matInput />
                <mat-autocomplete #autoEq="matAutocomplete">
                    <mat-option *ngFor="let opt of listFiliais" [value]="opt.name">{{opt.name}}</mat-option>
                </mat-autocomplete>
            </fieldset>
            <div class="erro" *ngIf="myForm.get('filial')?.errors?.['pattern']&&myForm.get('filial')?.touched">Apenas
                Numeros são permitidos</div>
            <div class="erro" *ngIf="myForm.get('filial')?.errors?.['maxlength']&&myForm.get('filial')?.touched">Máximo
                de 3 caracteres</div>
        </div>
    </div>

    <div class="input_container-int2">
        <div class="input-Top">
            <fieldset class="input-form" appearance="outline">
                <legend>Cargo</legend>
                <input class="input" type="text" formControlName="funcao"  matInput
                    #funcao>
            </fieldset>
            <div class="erro" *ngIf="myForm.get('funcao')?.errors?.['required']&&myForm.get('funcao')?.touched">Campo
                obrigatorio</div>
        </div>
        <div class="input_container textarea">
            <div class="input_container">
                <legend style="color: #888;font-size: 14px;">Descrição</legend>
                <editor formControlName="descricao" apiKey="{{tinyKay}}" [init]="editorConfig">
                </editor>
            </div>
            @if (botton) {
            <ng-container>
                <app-loading></app-loading>
            </ng-container>
            }
        </div>
        <div>

            <app-drop (emiter)="onSelect($event)"></app-drop>
        </div>
    </div>
</form>
<div class="button">
    <button style="margin-top: 5px;" color="primary" [disabled]="!myForm.valid" class="button" (click)="onFile()"
        color="primary" mat-raised-button [mtBasicSpinner]="sprinner" [hideText]="true">Enviar</button>

</div>