<div class="signup">
    <div class="banner">
        <!-- <h1 style="position: absolute;top: 0;left: 0;margin-top: 4px;margin-left: 10px;" class="span"> AGILE SERVICE</h1>
         <img src="assets/meninoHD.png"  alt="">
         <div style="position: fixed;bottom: 0;color: #767c7c;">ng 18  v 2.3.20</div> -->
         <app-login-bnnner></app-login-bnnner>
      </div>
    <div class="painel">
        <div class="logo">

            <mat-icon class="btn" (click)="voltar()">arrow_back</mat-icon>

            <legend>Cadastro de usuário</legend>
        </div>

        <form class="painel-login" [formGroup]="service.form">
            <div class="campo-top">
                <section class="input_int">
                    <label for="name">Nome</label>
                    <input matInput #nameInput type="text" formControlName="name" maxlength="25"
                        (keydown.enter)="focusNext(lastnameInput)" placeholder="Digite seu nome.."/>
                    @if(service.form.get('name')?.errors?.['required']&&service.form.get('name')?.touched){
                    <div class="mensagem-erro" for="descricao">campo obrigatorio</div>
                    }
                </section>
                <section class="input_int">
                    <label for="lastname">Sobrenome</label>
                    <input matInput type="text" formControlName="lastname" #lastnameInput maxlength="20"
                        (keydown.enter)="focusNext(setorInput)" placeholder="Digite seu sobrenome.." />
                    @if (service.form.get('lastname')?.errors?.['required']&&service.form.get('lastname')?.touched) {
                    <div class="mensagem-erro"> campo obrigatorio</div>
                    }
                </section>
            </div>
            <div class="campo-botton">
                @if (disabledbutton) {
                <div class="container-center">
                    <div class="container-int">
                        Em {{contador}} segundos você será redirecionado a tela de login ou click no botão
                        <button (click)="teladeLogin()" mat-raised-button color="primary">Tela de login</button>

                    </div>
                </div>
                }
                <section class="campo">
                    <label for="setor">Setor</label>
                    <input type="text" placeholder="Setor.." aria-label="Setor" matInput formControlName="setor"
                        [matAutocomplete]="auto" #setorInput (keydown.enter)="focusNext(filialInput)" placeholder="Selecione o setor..">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of filteredOptions|async; track option) {
                        <mat-option [value]="option.name">{{option.name}}</mat-option>
                        }
                    </mat-autocomplete>
                    @if (service.form.get('setor')?.errors?.['required']&&service.form.get('setor')?.touched) {
                        <div class="mensagem-erro"> campo obrigatorio</div>
                    }
                    
                </section>
            </div>
            <div class="campo-botton">
                <section class="campo">
                    <label for="filial">Filial</label>
                    <input style="height: 35px;" matInput type="text" formControlName="filial" #filialInput
                        (keydown.enter)="focusNext(emailInput)" placeholder="Digite sua filial..." />
                    @if (service.form.get('filial')?.errors?.['required']&&service.form.get('filial')?.touched) {
                        <small class="mensagem-erro">Campo obrigatorio</small>
                    }
                    @else if (service.form.get('filial')?.errors?.['pattern']&&service.form.get('filial')?.touched) {
                        <small class="mensagem-erro">Apenas numeros</small>
                    }
                    @else if(service.form.get('filial')?.errors?.['maxlength']&&service.form.get('filial')?.touched) {
                        <small class="mensagem-erro">Max de carater 4</small>
                    }
                   @else if(service.form.get('filial')?.errors?.['minLength']&&service.form.get('filial')?.touched) {
                    <small>No minimo 2 caracter</small>
                   }
                        
                </section>
            </div>
            <div class="campo-botton">
                <section class="campo">
                    <label for="email">E-mail</label>
                    <input matInput type="email" formControlName="email" #emailInput
                        (keydown.enter)="focusNext(passwordInput)"  placeholder="Digite seu email..."/>
                    @if (service.form.get('email')?.errors?.['required']&&service.form.get('email')?.touched) {
                        <small class="mensagem-erro">Campo obrigatorio</small>
                    }
                    @else if (service.form.get('email')?.errors?.['email']&&service.form.get('email')?.touched) {
                        <small class="mensagem-erro">Digite
                            um email valido</small>
                    }
                </section>
            </div>
            <div style="width: 100%;height:40px;background-color: rgb(102, 102, 206);margin: 0 5px;">
                <small style=" color: #fdf8f8;">Certifique-se de que sua senha tenha no mínimo 8 caracteres, incluindo
                    pelo menos uma letra maiúscula e um caractere especial.</small>
            </div>

            <div class="campo-botton">
                <section class="campo">
                          <label for="password">Senha</label>
                        <input matInput type="{{text}}" formControlName="password" #passwordInput maxlength="20"
                            placeholder="Senha..." (keydown.enter)="focusNext(replacepasswordInput)" placeholder="Digite sua senha..."/>
                    @if (service.form.get('password')?.errors?.['required']&&service.form.get('password')?.touched) {
                        <small class="mensagem-erro">Campo
                        obrigatorio</small>
                    }
                    @else if (service.form.get('password')?.errors?.['minLength']&&service.form.get('password')?.touched) {
                        <small class="mensagem-erro">No minimo 8 caracteres</small>
                    }
                </section>
            </div>
            <div class="campo-botton">
                <section class="campo">
                    <label for="replacepassword">Confirme senha</label>
                     <div class="pass">
                        <input matInput type="{{text}}" formControlName="replacepassword" maxlength="20"
                            #replacepasswordInput placeholder="Confirme sua senha..." />
                        <div class="eg">
                            <mat-icon (click)="mostrar()">{{icon}}</mat-icon>
                        </div>
                     </div>
                        
                    @if (service.form.get('replacepassword')?.errors?.['required']&&service.form.get('replacepassword')?.touched) {
                        <small class="mensagem-erro">Campo obrigatorio</small>
                    }
                    @else if (service.form.get('replacepassword')?.errors?.['minLength']&&service.form.get('replacepassword')?.touched) {
                        <small>No minimo 8 caracteres</small>
                    }
                </section>
            </div>
        </form>
        <div class="btn-bottom">
            <div class="campo-btn">
                <button [disabled]="!service.form.valid || disabledbutton" (click)="Enviar()" class="btn-login"
                    mat-raised-button color="primary" >Registrar</button>
            </div>
            <div class="campo-btn">
                <button class="btn-login" (click)="cancelar()" mat-raised-button color="secundary">Cancelar</button>
            </div>
        </div>
    </div>
</div>