<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div class="input_container-int">
    <div class="input_container-int2">
        <div class="logoStatus">
            <p>STATUS</p>
            @for (item of itens; track $index) {
            @if (item) {
             @if (item.status==="FECHADO"||item.status==="RECUSADO") {
                <span style="color: brown;font-size: 10px;">{{item.status.replace("_"," ")}}</span>
                <small style="color: black;">{{item.data_fechado}}</small>
             }@else {
                <span style="color: rgb(6, 54, 6);font-size: 10px;">{{item.status.replace("_"," ")}}</span>
             }
            }
            }
        </div>
        @for (item of itens; track $index) {
        @if (disable) {
        <div class="container">
            <div class="logo">
                <b>O chamado foi processado com sucesso. </b>
                <p>Você pode agora clicar em 'Aprovar' para confirmar a operação</p>
                <p>Clique em 'Recusar' para cancelar a operação</p>
            </div>
            <div class="button">
                <button [disabled]="habilitaBotao" (click)="atualizarstatusFechado()" mat-raised-button color="primary"
                    >Aprovar</button>
                <button [disabled]="habilitaBotao" (click)="ReabrirChamado()" mat-raised-button
                    color="secundary">Recusar</button>
            </div>
        </div>
        }
        }
       
        <div class="container" *ngIf="disableAdmin">
            <div class="button">
                    <p>Atualizar status</p>
                    <select style="outline: none;" (click)="handleSelectClick($event)">
                        <option style="font-size: 12px; font-family: sans-serif;">Status</option>
                        @for (state of AtualizacaoStatus; track state) {
                        <option style="font-size: 12px; font-family: sans-serif;"  [value]="state.status">{{state.name}}</option>
                        }
                    </select>
            </div>

        </div>
        @if (user.includes("admin")||user.includes("suporte")||user.includes("dev")) {
            @for (item of itens; track $index) {
            @if (item) {
            <div class="container" *ngIf="!done">
                <div class="logo">
                    <p>Clique em Aceitar</p>
    
                </div>
    
                <div class="button">
                    <button [disabled]="item.done" (click)="getRas()" 
                        mat-raised-button color="secundary">Aceitar</button>
                </div>
    
            </div>
            }
            }
            }
        <div class="solicitacao">
            <p>Solicitação de serviço </p>
            <small>suporte {{service.servico}}</small>
        </div>
        <div class="solicitacao">
            <p>Operador</p>
            <small>{{nomeUsuario}}</small>
        </div>
        @if (user.includes("suporte")) {
        <div class="log" *ngIf="disableAdmin">
            <div class="logosTop">
                <span style="color: rgb(15, 15, 15);">Visualizações</span>
                <button mat-button class="btn" (click)="buscar()">carregar</button>
            </div>
            <div class="logScroll" *ngIf="disableAdmin">
                @for (item of lodsName; track $index) {
                <div class="usuarioLog">
                    <small [innerHTML]="sanitize(item.msg)">

                    </small>
                    <small style="color: red;">{{item.timestamp}}</small>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>