
<app-cards-chamados class="banner">
    <section class="container-banner">
      <h1>Suporte de TI</h1>
        <div class="card-button">
            <app-my-buttons rotas="hardware" src="assets/pc.png" title="hardware" subtitle="abra seu chama de suporte a Ti solicitando apoio ao seu Equipamento"></app-my-buttons>
            <app-my-buttons rotas="hardware" src="assets/redes.png" title="redes"  subtitle="abra seu chama de suporte a Ti solicitando apoio ao seu Equipamento"></app-my-buttons>
            <app-my-buttons src="assets/erro-no-programa.png" title="Sistema"  subtitle="abra seu chama de suporte a Ti solicitando apoio ao seu Equipamento"></app-my-buttons>
            <app-my-buttons src="assets/erro.png" title="em criacao"  subtitle="abra seu chama de suporte a Ti solicitando apoio ao seu Equipamento"></app-my-buttons>
        </div>
    </section>
</app-cards-chamados>