.input-Img {
    display: flex;

    .dadosFoto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* largura máxima da div */

        .imglog {
            width:100px;
            height: 80px;
            margin-right: 5px;
            image-rendering: crisp-edges;
        }

    }

    .modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 9999;
        padding-top: 50px;
        left: 0;
        top: 0;
        background-color:rgba(0,0,0,0.6);
        .titule {
            display: flex;
            align-items: center;
            background-color:rgba(0,0,0,0.6);
            justify-content:space-between;
            width: 100%;
            height: 50px;
            margin: 0;
            margin-top: -3rem;
            position: fixed;
            z-index: 9999;
            .name{
                color: #ffbf82;
            }
            .bot{
                width: 160px;
                display: flex;
                gap:20px;
                .icon {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    color: antiquewhite;
                }
    
                .icon:hover {
                    border: 2px solid #888;
                    border-radius: 100%;
                }
    
                .button-icon {
                    width:35px;
                    height:25px;
                    border-radius: 3px;
                    text-align: center;
                    color: aliceblue;
                }
                .button-icon:hover{
                    border-radius: 3px;
                    border: 2px solid #ddd4d4;
                }
            }

           
        }

        .history {
            display: inline-block;
            width: 100%;
            height:60px;
            background-color:rgba(0,0,0,0.6);
            position: fixed;
            z-index: 9999;
            bottom: 0;
            margin: 5px 0;
            .imghistory {
                display: inline-block;
                flex-direction: row;
                margin: 10px;
            }
        }

        .modal-content {
            margin: auto;
            display: block;
            width:97%;
            height:100vh;
        }

        .img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -40px;
            flex-direction: column;
           img{
            max-width: 100%;
            max-height:calc(100vh - 15px);
            
           }

        }

        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }


    }


    .ls-label-text {
        height: 60px;
        display: flex;
        align-items: center;

        a {
            cursor: pointer;
            margin: 0 10px;
        }

        a:hover {
            color: blue;
        }

        img {
            border-radius: 50%;
            margin: 0 10px;
        }
    }

    .risc {
        color: red;
    }

    .input-form {
        height: 30px;

    }
}