<!-- <section class="card">
    <div class="card_int">
        <h2>Atenção</h2>
        <span>abra seu chamado com atencao,
        na forma correta para não haver falta de informaçao</span>
    </div>
</section> -->
<mat-accordion class="mat">
    <mat-expansion-panel (opened)="panelOpenState = true" class="card" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="card_int">
                    <h4 style="color: rgb(33, 70, 238);font-family: sans-serif;">{{aviso}}</h4>
                </div>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="banner">
            <div class="logo-name"><span class="titulo"> {{saudacao}}</span><span>{{username}}</span></div>
            <small style="color: rgb(48, 42, 42);">{{subtitulo}}</small>
            <small style="color: rgb(80, 69, 69);">{{body}}</small>
        </div>
    </mat-expansion-panel>
</mat-accordion>