.tela-login{
    margin: 10x 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    max-width: 900px;
    height: 100vh;    

    &.primary{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:var(--ds-surface,#FFFFFF);
        border-radius: 3px;
        

    }
    &.secundary{
        border-radius: 5px;
        color: #eee7e7;
    }
    &.login{
        display: flex;
        padding: 0 60px;
        align-items: center;
        justify-content: center;
        background-color:var(--ds-surface,#f8f7f7);
        border-radius:5px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1), -2px 0 5px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

    }


}
@media screen and (max-width:480px){
    .tela-login{

    &.login{
        padding: 0 80px;

    }

    
    }
    
}
@media screen and (max-width:420px){
    .tela-login{
        width:100%;
        
    }
    
}
@media screen and (max-width:320px){
    .tela-login{
        max-width:100%;
        width:100%;
        &.login{
            padding: 0 100px;
    
        }
       
    }
    
}