.example-spacer {
  flex: 1 2 auto;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  margin:15px 20px;
  span{
    color: aliceblue;
  }
  .span {
    cursor: pointer;
  }
  .active-page {
    font-weight: 600;
    color: rgb(255, 255, 255);
  }
  .butosn{
    display: flex;
    align-items: center;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-icon {
      width: 120px;
    }
    .search {
      color: aliceblue;
    }
    mat-chip-listbox {
      gap: 5px;
    }
    .favoritos{
      margin: 5px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
       .menu{
        button{
           span{
            font-size: 10px;

           }
         }
          .btn-icon{
            width:25px;
            height:25px;
          
         }
       
       }
     
     }

  }

}
.user-name {
  width: 80%;
  display: flex;
  align-items: start;
  padding:2px 15px;
 .usuario{
    display: flex;
    flex-direction: column;
    margin:0px 16px;
    small{
      font-size:9px;
      margin:1;
      text-align: center;
    }
    .name {
      font-size:15px;
      display: flex;
      align-items: center;
      color: blue;
      cursor: pointer;
    }
 }

}
