<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<header *ngIf="ativo" class="container header">
  <div class="toolbar">
    @if (Auth.isLogout()) {
    <section  class="span" routerLinkActive="active-page"
      ariaCurrentWhenActive="page" style="size:40px;">
      <div class="btn" (click)="ativaMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
     <p routerLink="/cards"> {{logoName}}</p>
    </section> 
    <span class="example-spacer"></span>
    <div class="button" >
      <mat-chip-listbox aria-label="Fish selection">
        <button (EventClick)="search()" class="search" mat-icon-button matTooltip="primary"
          aria-label="Example icon-button with a heart icon">
          <mat-icon>search</mat-icon>
        </button>
      </mat-chip-listbox>
      @if (alertDialog) {
      <app-search-dialog [close]="alertDialog" (closes)="close()"></app-search-dialog>
      }
      <section class="logo_left">
        <div class="nome_usuario"> <small>{{username.name}}</small></div>
        <div style="background-color: wheat;" mat-icon-button class="favoritos">
          @if (img!==null || img!==undefined) {
          <img src="{{img}}" [mat-menu-trigger-for]="perfil" alt="Perfil" width="100%" height="100%" style="border-radius:40%;">
          }
        </div>
        <mat-menu #perfil="matMenu">
          <button mat-menu-item (click)="removeTOken()" style="display: flex;">
            <mat-icon><img src="assets/saida.png" width="25px" height="25px" alt=""></mat-icon>
            <span>Login</span>
          </button>
        </mat-menu>
      </section>
      @if (menu) {
      <app-menu-drop (ativaMenu)="ativaMenu()"></app-menu-drop>
      }
    </div>
  }@else {
    <p style="color: aliceblue;font-weight: bold;padding: 2px 5px; border-radius: 2px;border: 1px solid #FFFF;" routerLink="/cards"> {{logoName}}</p>
    <div class="button" >
      <mat-chip-listbox class="btn" aria-label="Fish selection">
        <button routerLink="/auth/login" mat-raised-button color="primary">
          Fazer login
        </button>
        <button  routerLink="/auth/signup" mat-raised-button color="secundary">
          Registrar-se
        </button>
      </mat-chip-listbox>
    </div>
  }
  </div>

</header>