@keyframes skeleton{
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes letra{
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
}
.main{
    background-color: rgb(255, 254, 252);
    display: flex; 
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 9999;
    flex-direction: row;
    .center{
        display: flex;
        flex-direction: column;
        gap: 56px;

        .loading{
            animation: letra 0.8s infinite;
            width: 800px;
            background-color: rgb(206, 209, 212);
            height: 150px;
            margin-top:10rem;
            border-radius: 3px;
    
        }
        .loading_coment{
            display: flex;
            flex-direction: row;
            height: 200px;
            
            .img{
                width: 30px;
                height: 30px;
                border-radius: 15px;
                background-color: rgb(206, 209, 212);
                animation: letra 0.8s infinite;

            }
            .input{
                flex: 1;
                background-color: rgb(206, 209, 212);
                height: 30px;
                margin-left: 5px;
                animation: letra 0.8s infinite;
                border-radius: 3px;

            }
        }
        
    }
    .left{
        background-color: rgb(206, 209, 212);
        width: 150px;
        height: 150px;
        margin-top:10rem;
        margin-left: 10px;
        border-radius: 2px;
        animation: letra 0.8s infinite;


    }
}
@media screen and (max-width:980px) {
    .main{
        width: 100%;
        .center{
            
            gap: 46px;
    
            .loading{
                width: 500px;
            }
        }
    }
    
}
@media screen and (max-width:700px) {
    .main{
        .center{
            
            gap: 46px;
    
            .loading{
                width: 400px;
            }
        }
    }
    
}
@media screen and (max-width:600px) {
    .main{
        .center{
            
    
            .loading{
                width: 300px;
            }
        }
    }
    
}
@media screen and (max-width:490px) {
    .main{
        .center{
            
    
            .loading{
                width: 200px;
            }
        }
    }
    
}
@media screen and (max-width:390px) {
    .main{
        .center{
            
    
            .loading{
                max-width: 200px;
               width: 100%;
            }
        }
    }
    
}