@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'typeface-lato';
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "primeicons/primeicons.css";
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: rgb(1, 1, 34);
}

.semScroll {
  overflow: hidden;
}
