@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'typeface-lato';
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "primeicons/primeicons.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; // fundo branco
  background-repeat: no-repeat;
  font-family:Roboto, sans-serif;
  color: black;
  height: 100vh;

  
}

.semScroll {
  overflow: hidden;
}

.mat-elevation-z8 {
  width:220px;
  margin-top: 5px;
  margin-left: 10px;
  overflow: hidden;
}
.mat-elevation-z8 {
  box-shadow: none;
}
