.container header{
  
}
.example-spacer {
    flex: 1 1 auto;
  }
  .toolbar{
    display: flex;
    justify-content: space-between;
    margin:20px;
    .button{
      display: flex;
      justify-content: center;
      .button-icon{
        width:120px;
      }
      mat-chip-listbox{
       gap: 5px;
       .menu{}
      }
      .favoritos{
        background-color: rgb(131, 170, 157);
      }
     
      .alert{
        background-color: rgb(116, 116, 204);
        width:20px;
        height:20px;
        text-align: center;
        border-radius:100%;
        font-size:12px;
        color: azure;
        
      }
      .span{
        cursor: pointer;
        font-size: 25px;
        color: white;
      }
      .buttosn{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items:start;
        gap:5px;
      }
    }
    
  }

 
