<header class="container header">
    <div class="toolbar">
        <span class="span" (click)="navigate()" style="color: aliceblue;size:50px;" >My App</span>
        <span class="example-spacer"></span>
        <div class="button">
          <mat-chip-listbox  aria-label="Fish selection">
            <mat-chip matBadge="{{titulo}}" matBadgePosition="before" matBadgeColor="accent" mat-raised-button color="accent" [matMenuTriggerFor]="menu" selected>
              <p>chamados</p></mat-chip>
            <mat-menu #menu="matMenu" class="menu">
              <button  routerLink="/lista" class="buttosn" mat-menu-item><p>seu chamados</p> <p class="alert">{{titulo}}</p></button>
              <button mat-menu-item>sair</button>
            </mat-menu>
          </mat-chip-listbox>
          <button mat-icon-button class="favoritos" aria-label="Example icon-button with heart icon">
            <mat-icon></mat-icon>
          </button>
        </div>
      </div>
      
</header>