<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<app-mural-pricipal variant="secundary">
    <div class="lista">
        <div class="lista-titulo">
            <div class="btn_back">
                <app-back-button></app-back-button>
                <a>Central informatica</a>
            </div>
            
        </div>
        <h2>chamados</h2>
        <div class="form">
            <div class="example-container">
                <div [formGroup]="busca.form" class="form_centro">
                    <div style="display: flex;">
                        <form action="" (keypress)="gera()">
                            <div class="search" hintLabel="Max 10 characters">

                                <input type="search" formControlName="search" placeholder="buscar...">
    
                            </div>
                        </form>
                        <div class="check">
                            <input width="15px" height="15px" (change)="check($event)" type="checkbox"
                                placeholder="buscar...">
                            <small>data</small>
                        </div>
                    </div>
                    @if (habilita) {
                    <div class="data-principal">
                        <div class="data">
                            <input height="30px" type="date" formControlName="dataAntes" placeholder="buscar...">

                        </div>
                        <div class="data">
                            <input type="date" formControlName="dataDepois" placeholder="buscar...">

                        </div>
                        <button  (click)="pegaData()">enviar</button>
                    </div>
                    }
                </div>
                @if (!habilita) {
                <div #filterSelect class="filter_select">
                    <select (change)="alertas($event)" class="select">
                        <option>status</option>
                        <ng-container *ngFor="let item of lista; let i = index">
                            <option [value]="item.ativo">{{item.name}}</option>
                        </ng-container>
                    </select>
                    <select class="select">
                        <option>Em desenvolvimento</option>
                    </select>
                </div>
                }

            </div>
        </div>
        <div id="id" class="lista-chamado">
            <div  class="lista-chamado">
                <div class="titulo">
                    <span  
                    style="text-align: start;font-size: 12px;font-weight:600;color: var(--ds-text-subtlest, var(--local-dynamic-table-text-color))">
                    total page: {{number}} total de itens: {{itemTotal}}</span>
                </div>
                <div class="paginator">
                    <button class="button-paginator" [disabled]="disable" mat-button color="primary" (click)="back()">
                        <mat-icon>arrow_back_ios</mat-icon>
                    </button>
                    <select name="" id="" (change)="sizePage($event)">
                        <option value="">Pagina size</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                    <button class="button-paginator1" [disabled]="disableNext" mat-button color="primary"
                        (click)="next()">
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </button>
                    <span  style="text-align: start;font-size: 12px;font-weight:400;color: var(--ds-text-subtlest, var(--local-dynamic-table-text-color))"> page: {{totalPages}}</span>
                </div>
                <div class="mat-elevation-z8" *ngIf="number>0,else spiner" style="display: flex; margin-bottom: 25px;">
                    <table  style="padding:20px;">
                        <thead>
                            <tr>
                                @for (item of displayedColumns; track $index) {
                                    <th   style="text-align: start;font-size: 12px;font-weight:600;color: var(--ds-text-subtlest, var(--local-dynamic-table-text-color))">{{item}}</th>

                                }
                            </tr>
                        </thead>
                        <tbody >
                            @for (servico of dataSource; track $index) {
                            <tr style="text-align: start;color: var(--ds-text-subtle, #6B778C);" class="data" *ngFor="let ite of servico.itens" [ngClass]="getRowClass(ite)">
                                @if (desableBotton) {
                                <td><a class="chamadoId" (click)="chamadoUser(ite.cardId,servico.usuarioid)"
                                        tabindex="0"
                                        (keydown.enter)="chamadoUser(ite.cardId,servico.usuarioid)">{{ite.cardId}}</a>
                                </td>
                                }@else {
                                <td style="width:130px;"><a class="chamadoId"
                                        (click)="chamadoAdmin(ite.cardId,servico.usuarioid)">{{ite.cardId}}</a></td>
                                }

                                <td style="width:130px;">{{ite.issuetype}}</td>
                                <td style="width:130px;" id="status">{{ite.status.replace('_'," ")}}</td>
                                <td style="width:130px;">{{ite.setor}}</td>
                                <td style="width:130px;">{{ite.usuario}}</td>
                                <td style="width:130px;">{{ite.data}}</td>
                                <td style="width:130px;" style="color: rgb(209, 73, 73);">{{ite.tecnico_responsavel}}</td>
                                <td *ngIf="exibir">
                                    <button [disabled]="ite.done" mat-raised-button style="font-size:9px;height: 20px;" color="primary"
                                        (click)="getRa(ite.id,servico.id)">aceitar</button>
                                </td>
                            </tr>
                            }@empty {
                            <div>Sem chamados encontrado...</div>
                            }
                            
                        </tbody>
                      
                    </table>       
                </div>
                @if (user.includes("dev")||user.includes("suporte")||user.includes("admin")) {
                    <button style="margin-bottom: 10px;" (click)="gerarRelatorio()">Relatorio</button>
                    }
            </div>
        </div>
    </div>
</app-mural-pricipal>
<ng-template #spiner class="lista-chamado">
    @defer (on viewport) {
    <p>Carregando dados...</p>
    } @placeholder {
    <p>aguarde...</p>
    }@loading (minimum 2s) {
    <app-loading></app-loading>
    }
</ng-template>