:host{
    display: flex;
}
.lista{
    padding: 0 25px;
}
.form{
        .example-container{
            display: flex;
            width: 100%;
            margin-bottom: 25px;
            .search{
                width: 300px;
                input{
                    width: 250px;
                    height: 30px;
                }
            }
            .select{
                width:170px;
                height:35px;
                background-color: rgb(25, 25, 102);
                margin: 0 5px;
                border-radius: 2px;
                outline: none;
                color: #ffff;
                border: 0;
            }
}
}
.lista-usuario{
    height:40px;
    background-color: rgb(179, 201, 201);
}
.lista-titulo{
    height:10%;
}
.lista-chamado{
    height:100%;
    
    
}
.data{
    text-align: center;
    #status{
        color: #23c23e;
    }
}
.header{
    width: 100%;
    height: 30px;
    background-color: rgb(80, 174, 202);
}
table {
    width: 100%;
  }
 .spiner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
 }